Build/
Binaries/
DerivedDataCache/
Intermediate/
Saved/

Content/StarterContent/
Content/InfinityBladeGrassLands/
CurrentGameExe
.vs/MyProject/v16/Solution.VC.db
.vs/MyProject/v16/Browse.VC.db


*.slo
*.sln
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.log
*.pdb
.vs/MyProject/v16/ipch/
